body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile2 {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 100%;
}

.profile {
    width: 350px;
    height: 400px;
    margin-bottom: 50px;
}

.profile1 {
    width: 350px;
    height: 600px;
    margin-bottom: 50px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

#name {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Playball', cursive;
    color: rgb(255, 255, 255);
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: rgb(0, 0, 0);
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: 'Italianno', cursive;
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    background: white;
    width: 100%;
    margin-top: 0px;
    background-image: url("gradient\ \(10\).png");
}

.links {
    float: left;
    color: blue;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Italianno', cursive;
    font-size: 20px;
    display: inline;
}

.links:hover {
    background-color: purple;
    font-size: 30px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: darkviolet;
    text-shadow: 2px 2px gainsboro;
}

.article:hover {
    color: fuchsia;
}

html {
    scroll-behaviour: smooth;
}

#writings a {
    text-shadow: none;
    text-decoration: underline;
    color: blue;
}

h3 {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: white;
}

img {
    height: 150px;
}

#pieces_img {
    width: 500px;
    height: 300px;
}

#arrow {
    height: 100px;

}

#contact {
    background-image: url("gradient\ \(2\).png");
}

h4 {
    font-style: italic;
    font-size: 30px;
}
